/* EventList.css */
.event-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.event-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
}

.event-card:hover {
  transform: translateY(-5px);
}

.event-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.no-image-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  background-color: #ececec;
  color: #666;
  font-size: 0.9rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  text-align: center;
}

.event-title {
  margin: 0;
  font-size: 1rem;
  color: #333;
  cursor: pointer;
}

.event-title:hover {
  text-decoration: underline;
}

@media (min-width: 1024px) {
  .event-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .event-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  .event-grid {
    grid-template-columns: 1fr;
  }
}


/* .event-list {
  padding: 20px;
  background-color: #f0f0f0;
}

.event-list h2 {
  font-size: 1.5rem;
  color: #222;
  margin-bottom: 10px;
}

.event-list ul {
  list-style: none;
  padding: 0;
}

.event-list li {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-list a {
  text-decoration: none;
  color: #007bff;
}

.event-list a:hover {
  text-decoration: underline;
}

  
  @media (min-width: 768px) {
    .event-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .event-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  select {
    margin: 20px 0;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
 
 
  
  select {
    margin: 20px 0;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
   */